html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.space {
  height: 100vh;
  position: relative;
  background-image: url("../boost-task/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  height: 15vh;
  display: inline-block;
}

.rocket1,
.rocket2,
.rocket3,
.rocket4 {
  width: 7vw;
  background-image: url("../boost-task/assets/rocket.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: all 0.4s linear;
}

// Rocket - top part show only
.top1,
.top2,
.top3,
.top4 {
  width: 7vw;
  background-image: url("../boost-task/assets/rocket_top.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.fire1,
.fire2,
.fire3,
.fire4 {
  background-image: url("../boost-task/assets/thrust.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 7vw;
}

.finalMsg {
  color: white;
  font-weight: bold;
}

.first {
  position: absolute;
  bottom: 0;
  left: 20%;
}

.second {
  position: absolute;
  bottom: 0;
  left: 35%;
}
.third {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.fourth {
  position: absolute;
  bottom: 0;
  left: 65%;
}

.infoFirst,
.infoSecond,
.infoThird,
.infoFourth {
  color: rgb(255, 255, 255);
  position: absolute;
  top: -10%;
  left: 40%;
}
